# Лабораторная работа

# Задача 1 Дана строка 
string_01 = “Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters.” 
1. Посчитайте, сколько в строке символов (исключая пробелы).
2. Посчитайте, сколько в строке слов.
3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).
4. Не обязательно: Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “m”).

In [1]:
import re
import string 
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."

In [60]:
#1. Посчитайте, сколько в строке символов (исключая пробелы)
string_02 = re.sub(r'[abcdefghijklmnopqrstuyvwxyz]','',string_01.lower())
string_02 = string_02.split(' ')
total = 0

for sign in string_02:
    if sign !='' and sign in string.punctuation:
        total += 1
        
print(total)

17

In [15]:
#2. Посчитайте, сколько в строке слов.
string_03 = re.sub(r'[^\w\s]','',string_01)
len(string_03.split(' '))

61

In [100]:
#3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).
def searching_first(letter, string):
    result_list = []
    string = re.sub(r'[^\w\s]','',string)
    string = string.split(' ')
    
    for word in string:
        if word[len(word)-1].lower() == letter.lower():
            result_list.append(word)
            
    return result_list

In [104]:
searching_first('d', string_01)

['killed', 'head', 'pulled', 'dead', 'had', 'and', 'wind']

In [105]:
#4. Не обязательно: Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “m”).
def searching_second(letter, string):
    result_list = []
    string = re.sub(r'[^\w\s]','',string)
    string = string.split(' ')
    
    for word in string:
        if word[0].lower() == letter.lower():
            result_list.append(word)
            
    return result_list

In [106]:
searching_second('m', string_01)

['Mama', 'man', 'my', 'Mama', 'Mama', 'mean', 'make', 'matters']

# Задача 2 
Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [163]:
import random
range_ = range(0, 10)
three = '3'
password=''
counter = 0

for rng in range(0, 6):
    x = random.randrange(0, 2, 1)
    
    if x == 0:
        if counter  == 0:
            password = password + three
            counter += 1
        else:
            password = password + str(range_[random.randrange(0, 10, 1)])
            
    if x == 1:    
        password = password + str(range_[random.randrange(0, 10, 1)])
password

'443844'

# Задача 3
Дан список 
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610] Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100

In [19]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
list_02 = []

for number in list_01:
    if number > 10 and number < 100:
        list_02.append(number)
sum(list_02)

212

# Задача 4 Данные студентов представлены в виде списка списков:
students = [     ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"],     ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"],    ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],     ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],     ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],     ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],     ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],     ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"]             ] 

1.Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.
2.Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.
3.Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [22]:
students = [ ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"], ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"], ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"], ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"], ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"], ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"], ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"], ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"] ]

In [67]:
#1.Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.
new_students = {}

for student in students:
    new_students[student[0]] = student[1:len(student)]
new_students

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161']}

In [30]:
 #2.Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [68]:
def number_of_group(student, new_group):
    ls = []
    ls = new_students[student][0:4]
    ls.append(new_group)
    new_students[student] = ls

In [69]:
number_of_group('0001', 'dd')

In [70]:
new_students

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'dd'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161']}

In [71]:
#3.Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [76]:
def lastname_of_group(number_of_group):
    ls = []
    for grp in new_students.values():
        for value in grp:
            if value == number_of_group:
                ls.append(grp[0:3])
    return ls

In [77]:
lastname_of_group('БСТ163')

[['Глаголева', 'Анастасия', 'Николаевна'],
 ['Шафутинский', 'Михаил', 'Михайлович']]

# Задача 5 Дана матрица:
matrix = [ [0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0] ] 1.Выведите результат сложения всех элементов матрицы.
2.Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [82]:
matrix = [ [0, 1, 2, 4, 8], 
          [6, 2, 2, 1, 9], 
          [3, 3, 3, 3, 3], 
          [4, 6, 7, 1, 2],
          [5, 7, 3, 4, 0] ]

In [87]:
#1.Выведите результат сложения всех элементов матрицы.
ls = []
for number in matrix:
    ls.append(sum(number))
sum(ls)

89

In [99]:
#2.Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.
import pandas as pd

df = pd.DataFrame(matrix)
ls = [sum(df[0]),sum(df[1]),sum(df[2]),sum(df[3]),sum(df[4])]

max(ls)

22